<div class="panel-heading">
<h1>New Pin</h1>
</div>

<%= render 'form' %>


	<div class="panel-footer">
	<%= link_to pins_path do %>
	<span class="glyphicon glyphicon-share black"></span>
	Back
	<% end %>
	</div>
