<br><br><br><center>

<!-- <div class="jumbotron"> -->
	
	<h1 class="bring-front">Welcome to PinApp!</h1>
	

	<p>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
<!-- </div> -->
	</center>