
<div class="jumbotron center">
		<h1>about us</h1>
		<p>Ready to get in touch with us?  <%= link_to "Contact us!", "#", class: "btn btn-primary btn-lg" %>
		</p>

	<div id="bg2">
 	<img src="https://ununsplash.imgix.net/uploads/1412825195419af52b492/8bc72ed7?q=75&fm=jpg&s=4f35827a6dc766d393fc51fce493d85d" alt="">
	</div>
</div>
