<br><br>
		<div class="jumbotron center">
		<h1>about us</h1>
		<p>Ready to get in touch with us?  <%= link_to "Contact us!", 
		"contact_form/new", class: "btn btn-primary btn-lg" %>
		</p>

		<div id="bg2">
 	<img src="http://res.cloudinary.com/htt53jedq/image/upload/v1433549879/8bc72ed7_el9cvg.jpg" apages#contactlt="">
	</div>