<section id="home" data-type="background" data-speed="10">
<div class="jumbotron center">


<h1>PinApp with others!</h1>
<% if user_signed_in? %>
# do something
<% else %>
	<p>
	
	<%= link_to "sign up", new_user_session_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "log in", new_user_registration_path, class: "btn btn-default btn-lg" %>
	</p>
	<% end %>

<div id="bg">
  <img src="https://ununsplash.imgix.net/photo-1417870839255-a23faa90c6b0?q=75&fm=jpg&s=96d46061e7ecc8eb2ef0e9016d1eeb99" alt="">

</div>
</div>